Sources/Web Service Bundles - S&P Capital IQ/competitors/Competitors/GetCompetitors.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.capitaliq.com/CIQDotNet/BusinessRel" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.capitaliq.com/CIQDotNet/BusinessRel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.capitaliq.com/CIQDotNet/BusinessRel">
      <s:element name="GetCompetitorsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includeSubsidiariesFlag" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="businessRelationshipSourceTypeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompetitorsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompetitorsInfoResult" type="tns:ArrayOfCompetitorInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompetitorInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CompetitorInfo" nillable="true" type="tns:CompetitorInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompetitorInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompetitorCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompetitorCompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BusinessRelationshipSourceTypeId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfCompetitorInfo" nillable="true" type="tns:ArrayOfCompetitorInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCompetitorsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompetitorsInfo" />
  </wsdl:message>
  <wsdl:message name="GetCompetitorsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompetitorsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompetitorsInfoHttpPostIn">
    <wsdl:part name="companyId" type="s:string" />
    <wsdl:part name="includeSubsidiariesFlag" type="s:string" />
    <wsdl:part name="businessRelationshipSourceTypeId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompetitorsInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCompetitorInfo" />
  </wsdl:message>
  <wsdl:portType name="GetCompetitorsSoap">
    <wsdl:operation name="GetCompetitorsInfo">
      <wsdl:input message="tns:GetCompetitorsInfoSoapIn" />
      <wsdl:output message="tns:GetCompetitorsInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetCompetitorsHttpPost">
    <wsdl:operation name="GetCompetitorsInfo">
      <wsdl:input message="tns:GetCompetitorsInfoHttpPostIn" />
      <wsdl:output message="tns:GetCompetitorsInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCompetitorsSoap" type="tns:GetCompetitorsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompetitorsInfo">
      <soap:operation soapAction="http://www.capitaliq.com/CIQDotNet/BusinessRel/GetCompetitorsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetCompetitorsSoap12" type="tns:GetCompetitorsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompetitorsInfo">
      <soap12:operation soapAction="http://www.capitaliq.com/CIQDotNet/BusinessRel/GetCompetitorsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetCompetitorsHttpPost" type="tns:GetCompetitorsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCompetitorsInfo">
      <http:operation location="/GetCompetitorsInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCompetitors">
    <wsdl:port name="GetCompetitorsSoap" binding="tns:GetCompetitorsSoap">
      <soap:address location="https://api.capitaliq.com/ciqdotnet/api/current/GetCompetitors.asmx" />
    </wsdl:port>
    <wsdl:port name="GetCompetitorsSoap12" binding="tns:GetCompetitorsSoap12">
      <soap12:address location="https://api.capitaliq.com/ciqdotnet/api/current/GetCompetitors.asmx" />
    </wsdl:port>
    <wsdl:port name="GetCompetitorsHttpPost" binding="tns:GetCompetitorsHttpPost">
      <http:address location="http://api.capitaliq.com:8080/ciqdotnet/api/current/GetCompetitors.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>