Sources/Web Service Bundles - S&P Capital IQ/professionalsummary/Professionals/Professionals.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.capitaliq.com/CIQDotNet/Company/Professionals" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.capitaliq.com/CIQDotNet/Company/Professionals" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.capitaliq.com/CIQDotNet/Company/Professionals">
      <s:element name="GetProfessionalsSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyId" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="professionalListFilter" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="professionalStatusFilter" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="professionalFunctionId" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProfessionalsSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProfessionalsSummaryResult" type="tns:ArrayOfProfessional" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProfessional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Professional" nillable="true" type="tns:Professional" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Professional">
        <s:complexContent mixed="false">
          <s:extension base="tns:ProfessionalBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="PersonId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="YearBorn" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PersonBiography" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DeceasedFlag" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ProRank" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BoardRank" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ProfessionalFunctions" type="tns:ArrayOfProFunctionInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="OtherAffiliations" type="tns:ArrayOfProfessionalBase" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ProfessionalBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProfessionalId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BoardStatusId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProfessionalStatusId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AlumniFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProFunctionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProFunctionInfo" nillable="true" type="tns:ProFunctionInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProFunctionInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProfunctionId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfunctionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfunctionStartDateUTC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfunctionEndDateUTC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProfessionalBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProfessionalBase" nillable="true" type="tns:ProfessionalBase" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProfessionalsSummarySoapIn">
    <wsdl:part name="parameters" element="tns:GetProfessionalsSummary" />
  </wsdl:message>
  <wsdl:message name="GetProfessionalsSummarySoapOut">
    <wsdl:part name="parameters" element="tns:GetProfessionalsSummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="ProfessionalsSoap">
    <wsdl:operation name="GetProfessionalsSummary">
      <wsdl:input message="tns:GetProfessionalsSummarySoapIn" />
      <wsdl:output message="tns:GetProfessionalsSummarySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProfessionalsHttpPost" />
  <wsdl:binding name="ProfessionalsSoap" type="tns:ProfessionalsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProfessionalsSummary">
      <soap:operation soapAction="http://www.capitaliq.com/CIQDotNet/Company/Professionals/GetProfessionalsSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProfessionalsSoap12" type="tns:ProfessionalsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProfessionalsSummary">
      <soap12:operation soapAction="http://www.capitaliq.com/CIQDotNet/Company/Professionals/GetProfessionalsSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProfessionalsHttpPost" type="tns:ProfessionalsHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="Professionals">
    <wsdl:port name="ProfessionalsSoap" binding="tns:ProfessionalsSoap">
      <soap:address location="https://api.capitaliq.com/ciqdotnet/api/current/Professionals.asmx" />
    </wsdl:port>
    <wsdl:port name="ProfessionalsSoap12" binding="tns:ProfessionalsSoap12">
      <soap12:address location="https://api.capitaliq.com/ciqdotnet/api/current/Professionals.asmx" />
    </wsdl:port>
    <wsdl:port name="ProfessionalsHttpPost" binding="tns:ProfessionalsHttpPost">
      <http:address location="http://api.capitaliq.com:8080/ciqdotnet/api/current/Professionals.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>