Sources/Web Service Bundles - S&P Capital IQ/companyresolution/CompanyResolution/CompanyResolution.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.capitaliq.com/CIQDotNet/Company/CompanyResolution" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.capitaliq.com/CIQDotNet/Company/CompanyResolution" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.capitaliq.com/CIQDotNet/Company/CompanyResolution">
      <s:element name="SearchCompanies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inSearchCompanyCriterion" type="tns:ArrayOfSearchCompanyCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="inSearchTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSearchCompanyCriterion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SearchCompanyCriterion" nillable="true" type="tns:SearchCompanyCriterion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchCompanyCriterion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SearchIdentifierTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PartialBooleanFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCompaniesResult" type="tns:ArrayOfSearchCompanyInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSearchCompanyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SearchCompanyInfo" nillable="true" type="tns:SearchCompanyInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchCompanyInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SearchCompanyCriterionIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SearchCompanyResultTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternateCompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrimaryTradingItemID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SecuritySymbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TickerSymbol" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExchangeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PrimaryIndustryID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UltimateParentCompanyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyStatusTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasResearchDocumentsFlag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasEstimatesFlag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TemplateTypeID" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:SearchCompanies" />
  </wsdl:message>
  <wsdl:message name="SearchCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:SearchCompaniesResponse" />
  </wsdl:message>
  <wsdl:portType name="CompanyResolutionSoap">
    <wsdl:operation name="SearchCompanies">
      <wsdl:input message="tns:SearchCompaniesSoapIn" />
      <wsdl:output message="tns:SearchCompaniesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CompanyResolutionHttpPost" />
  <wsdl:binding name="CompanyResolutionSoap" type="tns:CompanyResolutionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchCompanies">
      <soap:operation soapAction="http://www.capitaliq.com/CIQDotNet/Company/CompanyResolution/SearchCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompanyResolutionSoap12" type="tns:CompanyResolutionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchCompanies">
      <soap12:operation soapAction="http://www.capitaliq.com/CIQDotNet/Company/CompanyResolution/SearchCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompanyResolutionHttpPost" type="tns:CompanyResolutionHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="CompanyResolution">
    <wsdl:port name="CompanyResolutionSoap" binding="tns:CompanyResolutionSoap">
      <soap:address location="https://api.capitaliq.com/ciqdotnet/api/current/CompanyResolution.asmx" />
    </wsdl:port>
    <wsdl:port name="CompanyResolutionSoap12" binding="tns:CompanyResolutionSoap12">
      <soap12:address location="https://api.capitaliq.com/ciqdotnet/api/current/CompanyResolution.asmx" />
    </wsdl:port>
    <wsdl:port name="CompanyResolutionHttpPost" binding="tns:CompanyResolutionHttpPost">
      <http:address location="http://api.capitaliq.com:8080/ciqdotnet/api/current/CompanyResolution.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>