Sources/Web Service Bundles - S&P Capital IQ/professionaldetail/ProfessionalsDetail/ProfessionalsDetail.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.capitaliq.com/CIQDotNet/Company/ProfessionalsDetail" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.capitaliq.com/CIQDotNet/Company/ProfessionalsDetail" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.capitaliq.com/CIQDotNet/Company/ProfessionalsDetail">
      <s:element name="GetProfessionalsDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="personId" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="professionalId" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProfessionalsDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProfessionalsDetailResult" type="tns:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YearBorn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonBiography" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeceasedFlag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfessionalDetails" type="tns:ArrayOfProfessionalDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProfessionalDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProfessionalDetail" nillable="true" type="tns:ProfessionalDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProfessionalDetail">
        <s:complexContent mixed="false">
          <s:extension base="tns:ProfessionalBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ProRank" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BoardRank" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AddressLine4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CityName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StateId" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="StateName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CountryId" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MainfaxNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MainPhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProfessionalFunctions" type="tns:ArrayOfProFunctionInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Compensations" type="tns:ArrayOfCompensation" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ProfessionalBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProfessionalId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BoardStatusId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProfessionalStatusId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AlumniFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProFunctionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProFunctionInfo" nillable="true" type="tns:ProFunctionInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProFunctionInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProfunctionId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfunctionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfunctionStartDateUTC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfunctionEndDateUTC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCompensation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Compensation" nillable="true" type="tns:Compensation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Compensation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CurrencyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompensationTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompensationTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompensationFiscalYear" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompensationFilingDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CompensationValue" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProfessionalsDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetProfessionalsDetail" />
  </wsdl:message>
  <wsdl:message name="GetProfessionalsDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetProfessionalsDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="ProfessionalsDetailSoap">
    <wsdl:operation name="GetProfessionalsDetail">
      <wsdl:input message="tns:GetProfessionalsDetailSoapIn" />
      <wsdl:output message="tns:GetProfessionalsDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProfessionalsDetailHttpPost" />
  <wsdl:binding name="ProfessionalsDetailSoap" type="tns:ProfessionalsDetailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProfessionalsDetail">
      <soap:operation soapAction="http://www.capitaliq.com/CIQDotNet/Company/ProfessionalsDetail/GetProfessionalsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProfessionalsDetailSoap12" type="tns:ProfessionalsDetailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProfessionalsDetail">
      <soap12:operation soapAction="http://www.capitaliq.com/CIQDotNet/Company/ProfessionalsDetail/GetProfessionalsDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProfessionalsDetailHttpPost" type="tns:ProfessionalsDetailHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="ProfessionalsDetail">
    <wsdl:port name="ProfessionalsDetailSoap" binding="tns:ProfessionalsDetailSoap">
      <soap:address location="https://api.capitaliq.com/ciqdotnet/api/current/ProfessionalsDetail.asmx" />
    </wsdl:port>
    <wsdl:port name="ProfessionalsDetailSoap12" binding="tns:ProfessionalsDetailSoap12">
      <soap12:address location="https://api.capitaliq.com/ciqdotnet/api/current/ProfessionalsDetail.asmx" />
    </wsdl:port>
    <wsdl:port name="ProfessionalsDetailHttpPost" binding="tns:ProfessionalsDetailHttpPost">
      <http:address location="http://api.capitaliq.com:8080/ciqdotnet/api/current/ProfessionalsDetail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>