Sources/Web Service Bundles - S&P Capital IQ/keydevelopments/KeyDevelopments/KeyDevelopments.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.capitaliq.com/CIQDotNet/KeyDevs/KeyDevData" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://www.capitaliq.com/CIQDotNet/KeyDevs/KeyDevData" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.capitaliq.com/CIQDotNet/KeyDevs/KeyDevData">
      <s:element name="GetKeyDevelopments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InCompanyIdList" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="InStartDateUTC" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="InEndDateUTC" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="InKeyDevEventTypeIdList" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="InIncludeSubsidiariesFlag" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="InIncludeInvestmentsFlag" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetKeyDevelopmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeyDevelopmentsResult" type="tns:ArrayOfKeyDevelopment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKeyDevelopment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyDevelopment" nillable="true" type="tns:KeyDevelopment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyDevelopment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Headline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Situation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KeyDevelopmentDateUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDateUTC" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyDevCompanyEventTypeDataList" type="tns:ArrayOfKeyDevCompanyEventTypeData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKeyDevCompanyEventTypeData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyDevCompanyEventTypeData" nillable="true" type="tns:KeyDevCompanyEventTypeData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyDevCompanyEventTypeData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentCompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentCompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RelationshipTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KeyDevelopmentEventTypeId" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetKeyDevelopmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeyDevelopments" />
  </wsdl:message>
  <wsdl:message name="GetKeyDevelopmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeyDevelopmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="KeyDevDataSoap">
    <wsdl:operation name="GetKeyDevelopments">
      <wsdl:input message="tns:GetKeyDevelopmentsSoapIn" />
      <wsdl:output message="tns:GetKeyDevelopmentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="KeyDevDataHttpPost" />
  <wsdl:binding name="KeyDevDataSoap" type="tns:KeyDevDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKeyDevelopments">
      <soap:operation soapAction="https://www.capitaliq.com/CIQDotNet/KeyDevs/KeyDevData/GetKeyDevelopments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KeyDevDataSoap12" type="tns:KeyDevDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKeyDevelopments">
      <soap12:operation soapAction="https://www.capitaliq.com/CIQDotNet/KeyDevs/KeyDevData/GetKeyDevelopments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KeyDevDataHttpPost" type="tns:KeyDevDataHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="KeyDevData">
    <wsdl:port name="KeyDevDataSoap" binding="tns:KeyDevDataSoap">
      <soap:address location="https://api.capitaliq.com/ciqdotnet/api/current/KeyDevelopments.asmx" />
    </wsdl:port>
    <wsdl:port name="KeyDevDataSoap12" binding="tns:KeyDevDataSoap12">
      <soap12:address location="https://api.capitaliq.com/ciqdotnet/api/current/KeyDevelopments.asmx" />
    </wsdl:port>
    <wsdl:port name="KeyDevDataHttpPost" binding="tns:KeyDevDataHttpPost">
      <http:address location="http://api.capitaliq.com:8080/ciqdotnet/api/current/KeyDevelopments.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>